* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

hr{
  background-color: #CC6633;
  height: 4px;
  border: 0;
}

a{
  color: #CC6633;
}

.footer{
  margin-bottom: 20pt;
}

.text-hr{
  display: inline-block;
  width: 50px;
}

.heading{
  text-align: center;
  font-weight: 500;
  color: #CC6633;
  font-size: xx-large;
}

.bigheading {
  text-align: center;
}

#heart{
  color: rgb(235, 83, 83);
}

/* Google sign in button */
#customBtn {
  margin: auto;
  display: block;
  background-image: url('google_signin.png');
  background-size: contain;
  color: white;
  width: 368px;
  height: 96px;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
