{% extends "base.html" %}
{% block title %}mealti.me - Create Party{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-2">

  </div>

  <div class="col-md-3">
    <p class="heading text-uppercase">Friends</p>
    <!-- list of friends -->
  </div>

  <div class="col-md-2"></div>

  <div class="col-md-3">
	  <p class="heading text-uppercase">Invites</p>
    <!-- list of invites -->
  </div>

  <div class="col-md-2">

  </div>
</div>

<div class="row text-center">
  <hr class="text-hr">
    <span style="font-size: 48pt;">OR</span>
  <hr class="text-hr">
</div>

<div class="row">
  <p class="heading text-uppercase">Start Your Own</p>
</div>

<div class="row">

</div>
{% endblock %}
