{% extends "base.html" %}
{% block title %}mealti.me - Start{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <img src="{{ url_for('static', filename='Hot Dog.svg') }}" class="img-responsive"/>
  </div>

  <div class="col-md-4">
    <img src="{{ url_for('static', filename='MLH.svg') }}" class="img-responsive"/>
  </div>

  <div class="col-md-4">
    <img src="{{ url_for('static', filename='Coffee.svg') }}" class="img-responsive"/>
  </div>
</div>

<div class="row">
   <div id="gSignInWrapper">
    <div id="customBtn" class="customGPlusSignIn"></div>
  </div>
</div>
{% endblock %}
