* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

hr{
  background-color: #CC6633;
  height: 4px;
  border: 0;
}

.text-hr{
  display: inline-block;
  width: 50px;
}

.heading{
  text-align: center;
  font-weight: 500;
  color: #CC6633;
  font-size: xx-large;
}

.bigheading {
  text-align: center;
}

/* Google sign in button */
#customBtn {
  margin: auto;
  display: block;
  background-image: url('../img/google_signin.png');
  color: white;
  width: 386px;
  height: 96px;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
  background: rgba(255,165,0,.5) url('../img/google_signin.png');

}
