* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

hr{
  background-color: #CC6633;
  height: 4px;
  border: 0;
}

.text-hr{
  display: inline-block;
  width: 50px;
}

.heading{
  text-align: center;
  color: #CC6633;
  font-size: xx-large;
}

.bigheading {
  text-align: center;
}
